<!-- Contenedor del menú lateral -->
<div id="menu" class="w-[100px] md:w-[190px] lg:w-[220px] bg-gray-900 min-h-screen z-10 text-slate-300 fixed left-0 h-screen overflow-y-scroll">

  <!-- Encabezado del menú lateral -->
  <!-- Puede contener el título de la aplicación, un logo o información adicional -->
  <gif-side-menu-header></gif-side-menu-header>

  <!-- Sección de opciones de navegación -->
  <!-- Aquí se muestran las distintas categorías o enlaces disponibles en el menú lateral -->
  <gif-side-menu-options></gif-side-menu-options>

</div>
